.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  padding-bottom: 10vh;
}

.project-card {
  background-color: var(--accent);
  color: var(--background);
  border-radius: 1rem;
  box-shadow: 0 4px 12px var(--accent);
  padding: 1.5rem;
  width: 300px;
  flex: 1 1 300px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  margin-top: 0;
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
}

.project-card a {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  color: var(--primary);
}

.project-card a:visited {
  color: var(--text); 
}

.project-card a:visited:hover {
  color: var(--background); 
}

.project-card ul {
  padding-left: 1.2rem;
  margin: 0;
}

.project-card li {
  margin-bottom: 0.5rem;
  font-size: clamp(1rem, 1.5vw, 2rem);
}
