:root {
  --text: #3A0CA3;
  --background: #f8fbff;
  --primary: #7209B7;
  --secondary: #FFAFCC;
  --accent: #4361EE;
}

[data-theme="dark"] {
  --text: #d4ebff;
  --background: #1e045a;
  --primary: #ffcfe1;
  --secondary: #A2D2FF;
  --accent: #e2c3f3;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.content-section {
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
  display: block;
  position: relative;
}
section p {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.gradient-text {
  font-size: 3rem;
  font-weight: bold;
  background: -webkit-linear-gradient(left,  var(--text), var(--primary));
  background: -o-linear-gradient(right, var(--text), var(--primary));
  background: -moz-linear-gradient(right, var(--text), var(--primary));
  background: linear-gradient(to right, var(--text), var(--primary)); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1s ease forwards;
}
  
.fade-in-delay {
  animation-delay: 3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}