:root {
  --text: #3A0CA3;
  --background: #f8fbff;
  --primary: #7209B7;
  --secondary: #FFAFCC;
  --accent: #4361EE;
  --gradient-1: #8338ec;
  --gradient-2: #06d6a0;
  --gradient-3: #ff006e;
}

[data-theme="dark"] {
  --text: #d4ebff;
  --background: #1e045a;
  --primary: #ffcfe1;
  --secondary: #A2D2FF;
  --accent: #e2c3f3;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.content-section {
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
  display: block;
  position: relative;
}
section p {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.gradient-text {
  font-size: 3rem;
  font-weight: bold;
  background: -webkit-linear-gradient(left,  var(--text), var(--primary));
  background: -o-linear-gradient(right, var(--text), var(--primary));
  background: -moz-linear-gradient(right, var(--text), var(--primary));
  background: linear-gradient(to right, var(--text), var(--primary)); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1s ease forwards;
}
  
.fade-in-delay {
  animation-delay: 3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --gradient-1: #8338ec;
  --gradient-2: #06d6a0;
  --gradient-3: #ff006e;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(150px);
}

.gradient {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
  mix-blend-mode: screen;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.gradient-1 {
  background: var(--gradient-1) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 700px;
  height: 700px;
  animation-duration: 11s;
  opacity: 0.6;
  left: 60%;
  top: 40%;
  z-index: -2;
  animation-name: animation-gradient-1;
}

.gradient-2 {
  background: var(--gradient-2) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 600px;
  height: 600px;
  animation-duration: 11s;
  opacity: 0.6;
  left: 40%;
  top: 60%;
  z-index: -1;
  animation-name: animation-gradient-2;
}

.gradient-3 {
  background: var(--gradient-3) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 500px;
  height: 500px;
  animation-duration: 11s;
  opacity: 0.6;
  left: 50%;
  top: 50%;
  z-index: -3;
  animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes animation-gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes animation-gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
}

nav {
  position: sticky;
  top: 20px;
  width: 90%;
  margin: 0 auto;
  background: white;
  padding: 10px 5px;
  border-radius: 12px;
  box-shadow: 0 4px 15px var(--accent);
  transition: all 0.3s ease;
  z-index: 1000;
}

#navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a[href^='#'] {
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;
  font-size: 1.5em;
}

nav a:hover {
  color: var(--text);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text);
  transition: background-color 0.4s ease;
  border-radius: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  font-size: 16px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background);
  transition: transform 0.4s ease;
  border-radius: 50%;
  z-index: 1;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: var(--accent);
}

.slider .icon {
  z-index: 2;
  pointer-events: none;
  color: #fff;
  transition: opacity 0.3s ease;
}

.sun {
  opacity: 1;
}

.moon {
  opacity: 0;
}

input:checked + .slider .sun {
  opacity: 0;
}

input:checked + .slider .moon {
  opacity: 1;
}

#menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: none;
}

.nav-header {
  display: none;
}

@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }

  .nav-header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  #navbar-container {
    width: auto;
    background: none;
    box-shadow: none;
    padding: 0;
    flex-direction: column;
  }

  #navbar {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-size: 1vh;
    gap: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
  }

  #navbar.show {
    display: flex;
    background-color: var(--background);
    color: var(--text);
    width: 30%;
    border-radius: 12px;
    position: absolute;
    right: 1rem;
  }

  .fade-in,
  .fade-in-delay {
    animation: none;
    opacity: 1;
    transform: none;
  }
}

#name-container {
  margin-top: -10vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name-container h1 {
  z-index: 1;
  font-size: 7vw;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: var(--text);
}

#button-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  z-index: 1;
}

#button-container > img {
  width: 4em; 
  cursor: pointer;
  z-index: 1;
}

img.icon {
  transition: transform 0.3s ease;
}

img.icon:hover {
  transform: scale(1.1);
}

#about {
  margin-top: 12vh;
  display: flex;
  align-items: flex-start;
}

.about-text {
  flex: 1;
  min-width: 250px;
}

.photo-grid {
  margin-top: 5vh;
  flex: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 15vh;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--secondary);
  border-radius: 1vh;
}

.featured {
  grid-column: span 2;
  grid-row: span 2;
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(0, 15vh);
  }

  .photo-grid img:nth-child(n+7) {
    display: none;
  }

  .featured {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (max-width: 500px) {
  #about {
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    max-width: 100%;
  }

  .photo-grid {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(0, 20vh);
  }

  .photo-grid img:nth-child(n+6) {
    display: none;
  }

  .featured {
    grid-column: span 2;
    grid-row: span 1;
  }
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  padding-bottom: 10vh;
}

.project-card {
  background-color: var(--accent);
  color: var(--background);
  border-radius: 1rem;
  box-shadow: 0 4px 12px var(--accent);
  padding: 1.5rem;
  width: 300px;
  flex: 1 1 300px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  margin-top: 0;
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
}

.project-card a {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  color: var(--primary);
}

.project-card a:visited {
  color: var(--text); 
}

.project-card a:visited:hover {
  color: var(--background); 
}

.project-card ul {
  padding-left: 1.2rem;
  margin: 0;
}

.project-card li {
  margin-bottom: 0.5rem;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

ul.outer-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  display: flex;
}

.card-wrapper.left {
  justify-content: flex-start;
}

.card-wrapper.right {
  justify-content: flex-end;
}

.card {
  margin-top: -10vh;
  background-color: var(--background);
  border-radius: 1rem;
  box-shadow: 0 4px 10px var(--secondary);
  padding: 1.5rem;
  width: 90%;
  max-width: 600px;
  transition: transform 0.3s ease;
}

#first-card {
  margin-top: 0;
}

.card:hover {
  transform: translateY(-5px);
}

h3 {
  margin-top: 0;
}

ul.inner-list {
  display: inline-block;
  text-align: left;
  font-size: clamp(1rem, 1.5vw, 2rem);
  padding-left: 1em;
}

ul.inner-list li::marker {
  content: "➤ ";
  color: var(--accent);
  font-size: 1.2em;
}

@media (max-width: 1300px) {
  ul.outer-list {
    gap: 2vh;
  }

  .card {
    margin-top: 0;
  }
}

#contact {
  width: 90%;
  margin: 0 auto;
  padding-left: 10vh;
  padding-right: 10vh;
  background: var(--background);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--accent);
}

fieldset {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

#contact h2 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text); 
}

legend {
  display: none;
}

input,
textarea {
  width: 90%;
  padding: 0.75rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  background-color: var(--background);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  resize: vertical;
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--secondary);
  box-shadow: 0 0 0 2px rgba(106, 17, 203, 0.3);
}

button[type="submit"] {
  padding: 0.75rem 1.5rem;
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background: linear-gradient(45deg, var(--secondary), var(--primary));
}

@media (max-width: 768px) {
  #contact {
    padding-left: 2vh;
    padding-right: 2vh;
  }
}
